<div class="product__item mb-20 relative transition duration-150 ease-out hover:ease-in  flex flex-col px-3 py-4 hover:shadow-[0px_8px_15px_rgba(0,0,0,0.15)]">
	<a href="#" class="w-6 h-6  flex items-center  justify-center absolute right-6 top-6 z-10">
		<img class="w-4" src="images/icons/icon__heart_2.svg" alt="icon__heart_2.svg">
	</a>
	<a href="{{link}}" class="flex items-center justify-center h-[260px]" title="{{title}}">
		<img src="images/{{thumbnail}}" alt="{{thumbnail}}" class="w-full h-full object-contain"/>
	</a>

	<a href="{{link}}" class="content pt-4 mb-4" title="{{title}}">
		<h3 class="product__title text-[#212529] text-sm mb-1">{{ title }}</h3>
		<p class="text-[#868E96] text-xs">{{ target }}</p>
	</a>
	<p class="mt-auto text-sm">{{ price }}</p>
</div>
